<ion-content *ngIf="allLocaciones">
  <ion-list>
    <ion-list-header>
      Listado de Locaciones
    </ion-list-header>

    <ion-item *ngFor = "let location of allLocaciones.results " (click) = "openModal(location)">
      <!--<ion-avatar slot="start">
        <img [src]="character.image">
      </ion-avatar>-->
      <ion-label>
        <h2>{{ location.name }}</h2>
        <h3>Origen: {{ location.type }}</h3>
        <p>Tipo: {{ location.Dimension C-137}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>